<launch>
    <!-- <node pkg="anygrasp_generation" type="anygrasp_publisher.py" name="anygrasp_publisher" output="screen" required="true"/> -->

    <group ns = "/my_gen3">
        <node pkg="gpd_pick_and_place" name="ompl" type="ompl_test" output="screen" required="true"/>

    </group>



</launch>